body {
  margin: 0;
  font-family:"Open Sans"!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contact {
    background: none;
    color: #FFf;
    border-radius: 20px;
    padding: 1px 20px;
    border: solid 1px;
    letter-spacing: 3px;
}
.contact:hover{background: #d2b22d; border-color: #d2b22d;}

.flex1{
  flex: 1;
  justify-content: flex-end;
  padding-right: 20px;
}
nav.navbar.navbar-expand-md.navbar-light.bg-light {
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    top: 0;
    background: none !important;
}
.navbar-light .navbar-nav .nav-link{
  font-weight: 600; 
  color: #fff!important;
}
.navbar-light .navbar-nav .contact a.nav-link{
  color: #FFF!important;
}

.headerbg .navbar-light .navbar-nav .contact a.nav-link,.headerbg .navbar-light .navbar-nav .nav-link{
  /* color: #000!important; */
}
.headerbg .contact{ 
  
  background: #d2b22d; border-color: #d2b22d;
 }
 .headerbg nav.navbar.navbar-expand-md.navbar-light.bg-light{
  background: #002262 !important;
 }
 *{
   transition: all 0.5s ease;
 }
 .headerbg .navbar-light .navbar-nav .contact,.headerbg .navbar-light .navbar-nav .contact a.nav-link{
  border-color: #d2b22d!important;
  color: #FFF!important;
} 

/* .headerbg .navbar{border-bottom: 1px solid #DDD;} */
 .logo img {
  width: 160px;
  object-fit: cover;
  /* height: 50px; */
  max-width: none!important;

}


.container_custom{
  padding:0 60px!important;
}
.logo img{max-width: 210px;}
.banner {
  width: 100%;height:65vh;background:url('./assets//hero-l7-bg.png') no-repeat;position: relative;display: flex;align-items: center;
justify-content: center; margin-top: 80px;text-align: center; background-position: top center; background-size: cover;}
/*.banner:after {position: absolute;width: 100%;height: 100%;background: rgba(0,0,0,0.6);content: "";left: 0;top: 0;}
*/
.banner h1{font-size:29px;color: #FFF;position: relative;z-index: 9;   
   text-shadow: 0px 0px 4px black;text-transform: uppercase;font-weight: 600;
  display: block;
  width: 80%;
  margin-bottom: 15px;
  margin: 0 auto;
}
.banner h1 span {
    color: #fff;
    font-size: 21px;
    z-index: 9;
    position: relative;
    letter-spacing: 20px;
    text-transform: uppercase;
    display: block;
}
  .banner{text-align: center;}
  .btn-round.btn-red{ background: #d2b22d; }

button.btn-round{
  background:#002262;
  color: #FFF!important;
  border-radius: 60px;
  display: inline-block;
  padding: 15px 40px;
  position: relative;
  z-index: 99;
}
.banner-bottom {background: #000;padding: 30px;text-align: center;
  background:#002262;
  color: #FFF!important;
}
.banner-bottom h4 span{margin-left: 5px;margin-right: 5px;}

.platformcard .card{
  padding: 15px;
  border-radius: 0;
  border:none;
  display: flex;
}
.platformcard .cardinner{
  border: 1px solid #c2c4c5;
  padding:60px 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.platformcard .cardinner img{max-width: 60px;margin-bottom: 25px;}

.platformcard .card h4{font-size: 15px; font-weight:600; text-transform: uppercase;margin: 0;display: block;}
section{
  padding: 50px 0;
}
.platformcard h2{ font-size: 46px;letter-spacing: -1px; color:#024; font-weight: bold;text-transform: capitalize;margin-bottom: 15px;}

section p{font-size: 16px;color: #000;}
.btn-more{

  font-size: 14px!important;
  padding: 11px 40px!important;
  margin-top: 18px!important;  
}
.paddingmain{
  padding: 30px;
}
section ul{margin: 0;padding: 0;list-style: none;position: relative;text-align: left;}
section ul li{padding-left: 20px;position: relative;
  margin-bottom: 10px;
}
section ul li:after{
  content: '';
    width: 8px;
    height: 8px;
    border: 100%;
    background:#002262;
    position: absolute;
    /* top: 50%; */
    left: 0;
    top: 10px;
    border-radius: 100%;
    /* transform: translateY(-50%); */
}

.imgbox ul{margin-top: 15px;margin-bottom: 15px;}
.paddingmain{padding: 60px !important;height: 100%;}
.nomargin{margin: 0!important;}

.bgbox{min-height: 300px;
  background: #ddddddbf;
}
.mt50{margin-top: 50px!important;}
.flex{display: flex;align-items: center;}
.bgbox h4{font-weight: 600;margin-bottom: 20px;}
.pb0{padding-bottom: 0!important;}

.navbar-nav li +li {
    margin-left: 24px;
}


.footer {
  background: #fff;
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
  border-top: 1px solid #DDD;
}
  
  .footer .rows{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .rows a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .rows a:hover{
  color:#024;
  }
  
  .footer .rows ul{
  width:100%;
  text-align: center;
  }
  
  .footer .rows ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .rows a i{
  font-size:2em;
  margin:0% 1%;
  }
  

  @media (max-width:991px){

   .navbar-light .navbar-nav .nav-link{ font-size: 14px; }
   .banner{ height: 70vh; }
  }
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .rows ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .rows a i{
  margin:0% 3%;
  }
  }
  button.btn-wh{background: #FFF!important;color:#002262!important;font-weight: 600 !important;}
  .contactpage{
    min-height: 100vh;
  }
  .page{margin-top: 70px;padding-top: 50px;padding-bottom: 50px;}
  .page .containercstm{max-width: 700px;}
  .page h4{font-size: 16px;margin-top: 25px;margin-bottom: 25px;}
  .page h2{
    font-size: 33px;
    font-weight: 800;
    color: #d2b22d;
    text-transform: uppercase;
  }
  .contact_wrap{width: 100%;}
  .contact_wrap label{width: 100%;padding: 0 0;text-align: left;font-weight: 600;color: #000;margin-bottom: 5px;}
  .contact_wrap input,.contact_wrap select{width: 100%;border-radius: 30px;border:1px solid  #cccccc;padding: 15px 20px;outline: 0;margin-bottom: 20px;}
  .contact_wrap textarea{width: 100%;border-radius: 30px;border:1px solid  #cccccc;padding: 15px 20px;outline: 0;min-height: 100px;margin-bottom: 20px;}
  .contact_wrap select{border-radius: 0;padding: 15px 20px;}
  /* .contact_wrap button {margin-top: 20px;} */
  .bgbox ul li{text-align:left;}

  .headerbg .navbar-light .navbar-nav .nav-link:hover{color: #d2b22d!important;}

  @media(max-width:680px){
     .container_custom{padding: 0 !important;}
    .navbar .navbar-toggler{color: #fff!important;}
    .navbar-light .navbar-toggler-icon{
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>")!important;
    }

    
    
    
    .paddingmain {
      padding: 15px !important;
       min-height: auto!important;
    }
    .page h2 {
      padding: 10px;
    }
    .footer{text-align: center;}
    .footer .rows ul li{text-align: center;}
    .footer .rows ul {padding: 0;}
     .logo img {    width: 170px;    }
    
  }

   .logo img{    max-width: 110px;  }
  .paddrem1{    padding: 0 1rem;  }

  .innpage p{font-size: 16px;}
  .innpage,.innpage ol,.innpage ul{text-align:left;}
  .innpage h2{text-align:center;margin-bottom: 20px!important;}

  span.red_label{
    font-size: 14px;
    text-align: left;
    color: red;
    position: relative;
    top: -20px;
    text-align: left;
    display: block;
  }